img {
    padding: 0;
}
#header {
    background-color: lightgray;
    color: black;
}
h1{
    margin-top: .85em;
    margin-left: 1em;
}
input.text{
    color:gray;
    border-width:1px;
    border-color: blue;
    border-style: solid;
    width: 150px;
    margin-left: 50px;

}
div.suggestions{
    position:absolute;
    top:25px;
    z-index:50;
    border-color:lightgray;
    background-color:white;
    border-style:solid;
    border-width: 1px;
    width:150px;
    overflow:auto;
    display:none;
}
div.sub_suggestions{
    width:150px;
}
div.sub_suggestions:hover{
    background-color:gainsboro;
}
#search_button {
    border-color: blue;
    background-color: blue;
    color: white;
    margin-left: -5px;
}
#search{
    margin-top: 2.5em;
}
.grid .starring {
    visibility: hidden;
    display: none;
}
.icons{
    position:relative;
    top:10px;
    height:40px;
}

.icons img{
    float:right;
}

.icons img:hover{
    cursor:pointer;
}

.grid {
    position:relative;
}

.grid .movies{
    position:relative;
    float:left;
    width: 162px;
    height: 162px;
    margin:10px;
}



.grid .movies img , .list .movies img{
    position:absolute;
    top:0px;
    left:0px;
    background-color: white;
    padding: 5px;
    border:1px solid lightgray;
    width: 150px;
    height: 150px;
}

.grid .title {
    position:absolute;
    left:6px;
    bottom:17px;
    height:40px;
    width:138px;
    background-color:rgba(0,0,0,0.3);
    color:white;
    line-height: 20px;
    text-align: center;
}
.grid .description {
    display:none;
}
.grid:hover .grid .title {
    bottom: 90px;
    height: 70px;
}

.grid:hover  .grid .starring {
    color: white;
    display: block;
    background-color: rgba(0,0,0,0);
    visibility: visible;
    position:absolute;
    left:6px;
    bottom:17px;
    height:40px;
    width:138px;
}
.list {
    position:relative;
}

.list .movies{
    position:relative;
    display:block;
    width:70%;
    height:170px;
    padding:10px;
    border-bottom:lightgray 1px dotted;
}
.list .info {
    padding-left: 140px;
    float: right;
}
.list div.description {
    width: 450px;
    background-color: rgb(236, 255, 255);
    border: solid;
    margin: 10px;
    line-height: 1.5;
    border-width: 0.25px;
    border-color: lightgray;
    position:relative;
    top:30px;
    color: black;
    left:0px;
    font-size:15px;
}

.list .starring{
    margin-left: 10px;
    position: absolute;
    display: block;
    visibility: visible;
}
.list .title {
    margin-left: 10px;
    font-size:15px;
    top:10px;
    color: black;
    display: block;
    visibility: visible;


}
.list div.movies {
    font-size: 12px;
    margin-bottom: 30px;
}

.list .movies .description{
    font-size: 12px;
}

input.text{
    color:gray;
    border-width:1px;
    border-color: lightgray;
    border-style: solid;
    width: 150px;
}
div.suggestions{
    position:absolute;
    top:25px;
    z-index:50;
    border-color:lightgray;
    background-color:white;
    border-style:solid;
    border-width: 1px;
    width:150px;
    overflow:auto;
    display:none;
}

div.sub_suggestions{
    width:150px;
}

div.sub_suggestions:hover{
    background-color:gainsboro;
}
.list .movies img{
    width: 220px;
    height:220px;
    padding:5px;
}
#main {
    padding: 0;
}
.list .title .year{
    color: grey;
    font-size: 15px;
}
.list .title .titlemovie{
    font-size: 18px;
    font-weight: 500;
}
.list .movies{
    height: 260px;
}

.list .rating {
    position: absolute;
    margin-left: 10px;
    top:75px;
}

.list span{
    font-size: 15px;
    font-weight: 700;
}
